.NewClientLogo {
  display: grid;
  justify-content: center;

  & > h1 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 8px;
    white-space: nowrap;
  }

  & > div {
    display: grid;
    place-items: center;
    position: relative;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      background-color: #f7f7f7;
    }

    & > svg {
      color: #0c7997;
      cursor: pointer;
    }
  }
}
