.container {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-size: .9rem;
  outline: none;
}

.container.link {
  text-decoration: none;
}

.container.transparent {
  background-color: transparent;
  color: #000;
}
