.container {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #B9B9B9;
  outline: none;
  font-size: .8rem;
}

.container:hover {
  border-color: #000;
}
.container:focus {
  border-color: #000;
}

.container::placeholder {
  color: #B9B9B9;
}
.container::-ms-input-placeholder {
  color: #B9B9B9;
}
