.UserInfo {
  padding: 25px 2rem 2rem;
  white-space: nowrap;
  max-width: 520px;

  h1 {
    font-size: 0.95rem;
    font-weight: 700;
  }

  label {
    font-size: 0.8125rem;
    font-weight: 700;
  }

  span {
    font-size: 0.875rem;
  }

  display: grid;
  grid-template-columns: 1fr 0fr;
  align-items: start;

  & > button:nth-child(2) {
    all: unset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #0c7997;
    column-gap: 5px;
    cursor: pointer;
  }
}
