.UserInfo {
  padding: 25px 2rem 2rem;
  white-space: nowrap;
  max-width: 520px;

  h1 {
    font-size: 0.95rem;
    font-weight: 700;
  }

  label {
    font-size: 0.8125rem;
    font-weight: 700;
  }

  span {
    font-size: 0.875rem;
  }
}
