.container {
  overflow: visible;
  background-color: #fff;
}

.head {
  height: 80px;
  box-sizing: content-box;
  border-bottom: 1px solid #B9B9B9;
}

.body {
  display: flex;
}

.body .side {
  width: 250px;
  min-width: 250px;
  height: calc(100vh - 81px);
  padding-bottom: 1rem;
  box-sizing: border-box;
  border-right: 1px solid #B9B9B9;
  overflow-x: visible;
  overflow-y: auto;
}

.body .content {
  flex-grow: 1;
  background-color: #EFF0F4;
}
