.container {
  overflow: visible;
  background-color: #fff;
}

.head {
  height: 72px;
  box-sizing: content-box;
}

.body {
  display: flex;
  min-height: calc(100vh - 72px);
}

.body .side {
  width: 320px;
  min-width: 320px;
  min-height: calc(100vh - 72px);
  padding: 0 18px 2rem 18px;
  box-sizing: border-box;
  overflow-x: visible;
  overflow-y: auto;
}

.body .content {
  flex-grow: 1;
  min-height: calc(100vh - 72px);
  box-sizing: border-box;
}

.body .content .emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.body .content .emptyState > svg {
  margin-bottom: 25px;
}

.body .content .emptyState > span {
  margin-bottom: 20px;
  line-height: 1.25rem;
  font-size: 1.25rem;
  color: #333;
}
