.UserTabs {
  display: grid;
  align-items: end;
  border-bottom: 1px solid #f0f0f0;

  .react-aria-Tabs {
    display: grid;
    align-items: center;
    font-size: 1.25rem;
  }

  .react-aria-TabList {
    display: grid;
    grid-template-columns: 0fr 0fr;
    column-gap: 30px;
  }

  .react-aria-Tab {
    cursor: pointer;
    outline: none;
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
    color: #555555;
    font-weight: 700;
    transition: color 200ms;
    border-color: transparent;

    &[data-hovered] {
      color: #000000;
    }

    &[data-selected] {
      border-bottom: 3px solid #0d7997;
      color: #0d7997;
    }
  }
}

.UserTabs.UserInfoPermissions > div {
  font-size: 1rem;
  white-space: nowrap;
  padding: 0 2rem;
}
