.NameAndType {
  & > h1:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
    height: 16px;
    margin-bottom: 24px;
    font-size: 1rem;
    font-weight: 700;
    color: #333;
    line-height: 1rem;
    display: inline-block;
    width: 100%;
  }

  & > div:nth-child(2) {
    font-size: 0.75rem;

    display: grid;
    grid-template:
      "a b"
      "c c" / 50%;
    gap: 20px;
  }
}
