.Name-And-Type {
  & > div:first-child {
    align-items: center;
    height: 16px;
    margin-bottom: 24px;
    font-size: 1rem;
    font-weight: 700;
    color: #333;
    line-height: 1rem;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & > div:nth-child(2) {
    font-size: 0.75rem;
    font-weight: 700;
    display: grid;
    grid-template:
      "a b"
      "c c" / 1fr 1fr;
    gap: 20px;

    .react-aria-TextField {
      .react-aria-Label {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }

      .react-aria-Input {
        width: 100%;
        box-sizing: border-box;
        padding: 5.5px 15px;
        border: 1px solid #dfdfdf;
        font-size: 0.75rem;

        &[data-hovered],
        &[data-focused],
        &[data-pressed] {
          outline: unset;
          border: 1px solid #a0a0a0;
        }
      }
    }
  }
}
