.container {
  width: 100%;
  user-select: none;
}

.container label {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #333;
}

.controlWrapper {
  position: relative;
}

.trigger {
  display: flex;
  justify-content: space-between;
  padding: 7.5px 15px;
  line-height: 0.75rem;
}

.container:not(.disabled) .trigger {
  cursor: pointer;
}

.trigger .triggerIcon {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 15px;
  margin-top: -0.5rem;
  font-size: 1rem;
  color: #333;
}

.container.open .trigger .triggerIcon {
  transform: rotate(180deg);
}

.trigger .placeholder {
  /* color: #B9B9B9; */
}

.options {
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 220px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 3px;
  overflow-y: auto;
  user-select: none;
}

.option {
  padding: 7.5px 15px;
  cursor: pointer;
  font-size: 0.75rem;
  color: #333;
}

.option:hover {
  background-color: #f7f7f7;
  color: #000;
}

.option.selected {
  background-color: #f7f7f7;
  color: #000;
}

.control {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  outline: none;
  background-color: #fff;
  font-size: 0.75rem;
  color: #333;
}

.container.open .control,
.container:not(.disabled) .control:hover {
  border-color: #a0a0a0;
}

.container.disabled .control {
  background-color: #f4f5f7;
}

.preview {
  font-size: 0.75rem;
  color: #333;
}

.error {
  margin-top: 0.3rem;
  color: #b60010;
  font-size: 0.75rem;
}
