.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 72px;
  padding: 0 28px;
  user-select: none;
}

.link {
  display: flex;
  align-items: center;
  outline: none;
  text-decoration: none;
}

.logoContainer {
  display: flex;
  align-items: center;
  height: 40px;
}

.logo {
  width: auto;
  height: 40px;
}

.slogan {
  margin-left: 14px;
  font-size: .75rem;
  color: #333;
  font-weight: bold;
}

.controls {
  display: flex;
  align-items: center;
  height: 100%;
}

.controls > :not(:last-child) {
  margin-right: 10px;
}
