.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 72px;
  padding: 0 28px;
  user-select: none;
}

.logo {
  width: auto;
  height: 40px;
}

.controls {
  display: flex;
  align-items: center;
  height: 100%;
}

.controls > :not(:last-child) {
  margin-right: 10px;
}
