.container {
  position: relative;
}

.container::after {
  content: "";
  display: block;
  position: relative;
  top: -3px;
  width: 6.4px;
  height: 6.4px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.container.open::after {
  top: 1px;
  transform: rotate(225deg);
}

.avatar {
  width: 38px !important;
  height: 38px !important;
  margin-right: 10px;
}

.name {
  margin-right: 10px;
  font-size: 1rem;
  color: #444;
}

.menu {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 100%;
  width: 100%;
  margin-top: 10px;
  padding: 10px 0;
  box-sizing: border-box;
  border: 1px solid #C9C9C9;
  background-color: #fafafa;
}

.menuLink {
  display: block;
  padding: 10px 15px;
  color: #333 !important;
  text-decoration: none !important;
}

.menuLink:hover {
  color: #000;
  background-color: #fff;
}
