.container {}

.title {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #B9B9B9;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.title .arrow {
  margin-right: .5rem;
  font-size: 1.2rem;
}
.title .arrow.open {
  transform: rotate(90deg);
}

.title .logo {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: .5rem;
}

.title .name {
  flex-grow: 1;
  width: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .9rem;
}

.container:not(.active) .title:hover {
  background-color: #333;
}
.container.active .title {
  background-color: #333;
}

.content {
  border-bottom: 1px solid #B9B9B9;
}

.orphans {
  border-top: 1px dashed #BBBBBB;
}

.loader {
  display: flex !important;
  justify-content: center;
  width: 100% !important;
  margin: 5px 0 !important;
}

.noResults {
  display: block;
  padding: 10px 5px;
  text-align: center;
  font-size: .85rem;
  color: #A9A9A9;
}
