.container {
  user-select: none;
}

.search {
  margin-bottom: 25px;
}

.add {
  display: flex;
  justify-content: flex-start;
}

.loader {
  display: flex !important;
  justify-content: center;
  width: 100% !important;
  margin-top: 10px !important;
}
