.container {
  user-select: none;
  background-color: #fff;
}

.search {
  padding: 10px;
  border-bottom: 1px solid #B9B9B9;
}

.add {
  display: flex;
  justify-content: center;
}

.loader {
  display: flex !important;
  justify-content: center;
  width: 100% !important;
  margin-top: 10px !important;
}
