.container {
  user-select: none;
}

.search {
  margin-bottom: 25px;
}

.add {
  display: flex;
  justify-content: flex-start;
}

.orphansSeparator {
  margin: 15px 10px 15px 10px;
  padding: 20px 0 0 0;
  border-top: 1px solid #E0E0E0;
  font-size: .75rem;
  color: #333;
}

.loader {
  display: flex !important;
  justify-content: center;
  width: 100% !important;
  margin-bottom: 18px !important;
}

.noResults {
  display: block;
  margin-bottom: 18px;
  text-align: center;
  font-size: .875rem;
  color: #A9A9A9;
}
