.container {}

.title {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.title .arrow {
  font-size: 1.2rem;
  margin-right: 8px;
}
.title .arrow.open {
  transform: rotate(90deg);
}

.title .icon {
  margin: 2px 8px 2px 0;
  font-size: 26px;
  color: #7E7F7E;
}

.title .name {
  font-size: 1rem;
}

.content {}
