.container {}

.title {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.title .arrow {
  margin-right: .5rem;
  font-size: 1.2rem;
  color: #535353;
}

.title .arrow.open {
  transform: rotate(90deg);
}

.title .icon {
  margin: .125rem .5rem .125rem 0;
  font-size: 1.6rem;
  color: #7E7F7E;
}

.title .name {
  font-size: .85rem;
  font-weight: bold;
  color: #262626;
}

.container:not(.active) .title:hover {
  background-color: #F0F0F0;
}

.container.active .title {
  background-color: #F0F0F0;
}

.content {}

.loader {
  display: flex !important;
  justify-content: center;
  width: 100% !important;
  margin: 5px 0 !important;
}
