.container {
  text-decoration: none !important;
}

.title {
  display: flex;
  align-items: center;
  padding: .3125rem;
  background-color: #fff;
  color: #535353;
  cursor: pointer;
}

.title .icon {
  margin: .325rem .5rem .325rem 2.1rem;
  font-size: 1.2rem;
  color: #7E7F7E;
}

.container.orphan .title .icon {
  margin: .325rem .5rem .325rem .2rem;
}

.title .name {
  flex-grow: 1;
  width: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .85rem;
  color: #262626;
}

.container:not(.active) .title:hover {
  background-color: #F0F0F0;
}

.container.active .title {
  background-color: #F0F0F0;
}
