.container {
  display: flex;
  align-items: center;
  font-size: .875rem;
  line-height: 1.2rem;
  color: #333;
}

.value {
  display: inline-flex;
  align-items: center;
  height: 1rem;
  line-height: 1rem;
  opacity: 0.7;
}

.value.active {
  opacity: 1;
  font-weight: bold;
}

.spacer {
  margin: 0 7px;
  font-size: 1rem;
  color: #333;
  opacity: 0.7;
}
