.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  height: 33px;
  padding: 0 20px;
  cursor: pointer;
  border: 1px solid #0C7997;;
  border-radius: 4px;
  background-color: #0C7997;
  box-sizing: border-box;
  color: #fff;
  font-size: .875rem;
  outline: none;
  user-select: none;
}

.container.disabled {
  cursor: default !important;
}

.container.link {
  text-decoration: none;
}

.container.transparent {
  border-color: transparent;
  background-color: transparent;
  color: #333;
}

.container.action {
  background-color: transparent;
  border-color: #F37646;
  color: #F37646;
}

.container:not(.disabled):not(.transparent):hover {
  opacity: .85;
}

.container:not(.disabled).transparent:hover {
  color: #000;
}

.loader {
  margin-left: 10px !important;
}

.loader, .loader > div {
  width: 25px !important;
  height: 25px !important;
}

.loader > div > div {
  background-color: #fff !important;
}

.container.transparent .loader > div > div {
  background-color: #333 !important;
}
