.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
  background-color: #000;
  box-sizing: border-box;
  color: #fff;
  font-size: .85rem;
  font-weight: bold;
  outline: none;
}

.container.link {
  text-decoration: none;
}

.container.transparent {
  border: 0;
  background-color: transparent;
  color: #333;
}

.container:not(.transparent):hover {
  opacity: .85;
}

.container.transparent:hover {
  color: #000;
}
