.container {
  position: relative;
  margin: 0 2rem .5rem 2rem;
}

.actions {
  position: absolute;
  right: 0;
  top: -70px;
  display: flex;
  align-items: center;
}

.actions > :not(:last-child) {
  margin-right: .5rem;
}

.actions .deleteIcon {
  font-size: 2rem;
  margin-right: .2rem;
}

.actions .view {
  text-decoration: none !important;
}

.tabs {
  display: inline-flex;
  border: 1px solid #B9B9B9;
  border-bottom-width: 0;
  user-select: none;
}

.tab {
  padding: 1rem;
  background-color: #fff;
  cursor: pointer;
  font-size: .85rem;
  font-weight: bold;
  border-bottom: 1px solid #B9B9B9;
}

.tab:not(:last-child) {
  border-right: 1px solid #B9B9B9;
}

.tab.active {
  border-bottom-color: #fff;
}

.section {
  flex-grow: 1;
  border: 1px solid #B9B9B9;
  background-color: #fff;
  margin-top: -1px;
  padding: 2rem;
  box-sizing: border-box;
}

.section .title {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.section .title.big {
  display: flex;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.section .title .icon {
  margin-right: .5rem;
  font-size: 1.5rem;
}

.section .title.mailing {
  margin-bottom: 3.75rem;
}

.section .form .formSection {
  margin-bottom: 2rem;
}

.section .form .formControl {
  margin-bottom: 1rem;
}

.section .form .formButtons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.section .form .controlsGroup {
  display: flex;
  justify-content: space-between;
}

.section .form .controlsGroup > * {
  width: calc(50% - 10px);
}

.section.details {
  display: flex;
  padding: 0;
}

.section.details .editor {
  flex-grow: 1;
  padding: 2rem;
}

.section.details .grant {
  width: 400px;
  min-width: 400px;
  padding: 2rem;
  box-sizing: border-box;
  border-left: 1px solid #B9B9B9;
}

.section.accounts {
  display: flex;
  padding: 0;
}

.section.accounts .userList {
  width: 260px;
  min-width: 260px;
  padding: 2rem;
  border-right: 1px solid #B9B9B9;
}

.section.accounts .userActions {
  flex-grow: 1;
  overflow: hidden;
}

.innerTabs {
  display: flex;
  flex-grow: 1;
  padding: 1rem 2rem 0 2rem;
  border-bottom: 1px solid #B9B9B9;
  user-select: none;
}

.innerTab {
  position: relative;
  padding: 1rem;
  background-color: #fff;
  cursor: pointer;
  font-size: .95rem;
  font-weight: bold;
  color: #333;
}

.innerTab:not(:last-child) {
  margin-right: 10px;
}

.innerTab:hover {
  color: #000;
}

.innerTab.active {
  color: #000;
}

.innerTab.active::after {
  content: "";
  position: absolute;
  top: calc(100% + -1px);
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
}

.innerContent {
  height: 100%;
}

.innerContent.spaced {
  padding: 25px 2rem 2rem 2rem;
}

.loader {
  display: flex !important;
  justify-content: center;
  width: 100% !important;
}

.noUser {
  display: block;
  padding: 10px 5px;
  text-align: center;
  font-size: .85rem;
  color: #A9A9A9;
}
