.container {
  position: relative;
  margin: 0 2rem .5rem 2rem;
}

.actions {
  position: absolute;
  right: 0;
  top: -80px;
  display: flex;
  align-items: center;
}

.actions > :not(:last-child) {
  margin-right: .5rem;
}

.actions .deleteIcon {
  font-size: 2rem;
  margin-right: .2rem;
}

.actions .view {
  text-decoration: none !important;
}

.tabs {
  display: inline-flex;
  border: 1px solid #B9B9B9;
  border-bottom-width: 0;
}

.tab {
  padding: 1rem;
  background-color: #fff;
  cursor: pointer;
  font-size: .85rem;
  font-weight: bold;
  border-bottom: 1px solid #B9B9B9;
}

.tab:not(:last-child) {
  border-right: 1px solid #B9B9B9;
}

.tab.active {
  border-bottom-color: #fff;
}

.section {
  flex-grow: 1;
  border: 1px solid #B9B9B9;
  background-color: #fff;
  margin-top: -1px;
  padding: 2rem;
  box-sizing: border-box;
}

.section .title {
  display: flex;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.section .title.big {
  display: flex;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.section .title.mailing {
  margin-bottom: 3.75rem;
}

.section .form .formSection {
  margin-bottom: 2rem;
}

.section .form .formControl {
  margin-bottom: 1rem;
}

.section .form .formButtons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.section .form .controlsGroup {
  display: flex;
  justify-content: space-between;
}

.section .form .controlsGroup > * {
  width: calc(50% - 10px);
}

.loader {
  display: flex !important;
  justify-content: center;
  width: 100% !important;
}

.busyLoader {
  margin-left: 10px !important;
}

.busyLoader, .busyLoader > div {
  height: 25px !important;
}

.busyLoader > div > div {
  background-color: #fff !important;
}

.accounts {
  display: flex;
}

.accounts .userList {
  width: 260px;
  min-width: 260px;
  padding-right: 30px;
  border-right: 1px solid #B9B9B9;
}

.accounts .userActions {
  flex-grow: 1;
}

.innerTabs {
  display: flex;
  flex-grow: 1;
  padding-left: 30px;
  border-bottom: 1px solid #B9B9B9;
}

.innerTab {
  position: relative;
  padding: 1rem;
  background-color: #fff;
  cursor: pointer;
  font-size: .95rem;
  font-weight: bold;
  color: #333;
}

.innerTab:not(:last-child) {
  margin-right: 10px;
}

.innerTab:hover {
  color: #000;
}

.innerTab.active {
  color: #000;
}

.innerTab.active::after {
  content: "";
  position: absolute;
  top: calc(100% + -1px);
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
}

.innerContent {
  padding: 25px 0 0 30px;
}
