.container {
  display: flex;
  height: 100%;
  position: relative;
  margin: 0 0 0 40px;
  border-radius: 5px 0 0 0;
  box-shadow: 0 1px 62px 0 rgba(0,0,0,0.09);
  background-color: #fff;
}

.actions {
  position: absolute;
  z-index: 3;
  right: 432px;
  top: 20px;
  display: flex;
  align-items: center;
}

.actions > :not(:first-child) {
  margin-left: .5rem;
}

.actions .deleteIcon {
  font-size: 1.3rem;
  margin-right: .2rem;
}

.actions .view {
  text-decoration: none !important;
}

.section {
  padding: 2rem;
  box-sizing: border-box;
}

.section.left {
  flex-grow: 1;
}

.section.right {
  width: 400px;
  min-width: 400px;
  box-sizing: border-box;
  border-left: 1px solid #F0F0F0;
  background-color: #FBFBFD;
}

.section .title {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.section .form .formControl {
  margin-bottom: 1rem;
}

.section .form textarea {
  height: 120px;
}

.section .form .formButtons {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}

.loader {
  display: flex !important;
  justify-content: center;
  width: 100% !important;
}
