.container {
  height: 100%;
  display: flex;
  background-color: #fff;
}

.edit {
  flex-grow: 1;
  padding: 25px 1.8rem 2rem 1.8rem;
}

.preview {
  display: none;
  width: 180px;
  min-width: 150px;
  border-left: 1px solid #B9B9B9;
  background-color: #FAFAFA;
}

.edit {
  padding: 25px 1.8rem 2rem 1.8rem;
}

.arrow {
  margin-right: .5rem;
  font-size: 1.2rem;
  color: #333;
}

.arrow.open {
  transform: rotate(90deg);
}

.client {
  margin-bottom: 5px;
}

.client .title {
  display: flex;
  align-items: center;
  margin: 0 -10px;
  padding: 5px 15px;
  border-radius: 18px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.client .title .logo {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: .5rem;
}

.client .title .name {
  flex-grow: 1;
  width: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.125rem;
  color: #333;
}

.client:not(.active) .title:hover {
  background-color: #F0F0F0;
  color: #000;
}

.client.active .title {
  background-color: #F0F0F0;
}

.project.indented {
  margin-left: 20px;
}

.project .title {
  display: flex;
  align-items: center;
  margin: 0 -10px;
  padding: 5px 15px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.project .title .icon {
  margin: .125rem .5rem .125rem 0;
  font-size: 1.6rem;
  color: #333;
}

.project .title .name {
  flex-grow: 1;
  width: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .875rem;
  color: #333;
}

.project:not(.active) .title:hover {
  background-color: #F0F0F0;
  color: #000;
}

.project.active .title {
  background-color: #F0F0F0;
}

.project .content {}

.report {
  margin-left: 20px;
}

.report .title {
  display: flex;
  align-items: center;
  margin: 0 -10px;
  padding: 5px 15px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.report .title .icon {
  margin: .125rem .5rem .125rem .9rem;
  font-size: 1.2rem;
  color: #333;
}

.report.orphan .title .icon {
  margin: .325rem .5rem .325rem 0;
}

.report .title .name {
  flex-grow: 1;
  width: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .875rem;
  color: #333;
}

.report:not(.active) .title:hover {
  background-color: #F0F0F0;
  color: #000;
}

.report.active .title {
  background-color: #F0F0F0;
}

.checkboxesTitles {
  display: flex;
  justify-content: flex-end;
  padding: 0 5px;
  margin-bottom: 24px;
}

.checkboxesTitles .checkboxTitle > span {
  font-size: .8125rem;
  color: #333;
}

.checkboxesTitles .checkboxTitle > svg {
  margin-left: 5px;
  color: #0C7997;
  cursor: pointer;
}

.itemCheckbox, .itemToggle, .checkboxesTitles .checkboxTitle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70px;
}

.itemCheckbox label {
  justify-content: center;
}

.loaderContainer {
  padding: 25px 2rem 2rem 2rem;
}

.loaderContainer .loader {
  margin: 0 !important;
}

.loader {
  display: flex !important;
  justify-content: center;
  width: 100% !important;
  margin: 5px 0 !important;
}

.noResults {
  display: block;
  padding: 10px 5px;
  text-align: center;
  font-size: .875rem;
  color: #A9A9A9;
}
