.container {
  position: relative;
}

.input {
  width: 100%;
  padding: 12px 2.6rem 12px 15px;
  box-sizing: border-box;
  border: 1px solid #B9B9B9;
  outline: none;
  font-size: .8rem;
  color: #A9A9A9;
}

.input:hover {
  border-color: #000;
}

.input:focus {
  border-color: #000;
}

.input::placeholder {
  color: #B9B9B9;
}
.input::-ms-input-placeholder {
  color: #B9B9B9;
}

.icon {
  position: absolute;
  z-index: 1;
  right: .4rem;
  top: 50%;
  margin-top: -.9rem;
  font-size: 1.8rem;
  color: #E0E0E0;
}
