.container {
  padding: 10px;
  border-bottom: 1px solid #B9B9B9;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid #B9B9B9;
}

.input {
  flex-grow: 1;
  padding: 12px 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: .8rem;
  color: #A9A9A9;
}

.input::placeholder {
  color: #B9B9B9;
}
.input::-ms-input-placeholder {
  color: #B9B9B9;
}

.icon {
  font-size: 1.8rem;
  color: #E0E0E0;
  margin-right: 5px;
}
