.container {
  display: flex;
  margin: .5rem 2rem;
  border: 1px solid #B9B9B9;
  background-color: #fff;
}

.container.embed {
  margin: 0;
  border: 0;
}

.container.embed .section {
  padding: 0;
}

.container.embed .section .title {
  margin-bottom: 1rem;
  font-size: .95rem;
}

.container.embed .section .form .formSection {
  margin-bottom: .5rem;
}

.section {
  flex-grow: 1;
  padding: 2rem;
  box-sizing: border-box;
}

.section .title {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.section .form .formSection {
  margin-bottom: 2rem;
}

.section .form .formControl {
  margin-bottom: 1rem;
}

.section .form .formButtons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.section .form .controlsGroup {
  display: flex;
  justify-content: space-between;
}

.section .form .controlsGroup > * {
  width: calc(50% - 10px);
}

.busyLoader {
  margin-left: 10px !important;
}

.busyLoader, .busyLoader > div {
  height: 25px !important;
}

.busyLoader > div > div {
  background-color: #fff !important;
}
