.container {
  display: flex;
  margin: .5rem 2rem;
  border: 1px solid #B9B9B9;
  background-color: #fff;
  padding: 2rem;
}

.section {
  flex-grow: 1;
  padding: 2rem;
  box-sizing: border-box;
}

.section .title {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.section .title.mailing {
  margin-bottom: 3.75rem;
}

.section .form .formSection {
  margin-bottom: 2rem;
}

.section .form .formControl {
  margin-bottom: 1rem;
}

.section .form .formButtons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.section .form .controlsGroup {
  display: flex;
  justify-content: space-between;
}

.section .form .controlsGroup > * {
  width: calc(50% - 10px);
}
