.container {
  /**/
}

.search {
  margin-bottom: 1rem;
}

.permissions {
  user-select: none;
}

.permissions .group {
  color: #000;
}

.permissions .group .groupTitle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.permissions .group .groupTitle > :first-child {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  font-size: .9rem;
  font-weight: bold;
}

.permissions .group .groupTitle .groupSettings {
  font-size: 1.1rem;
}

.permissions .group .groupTitle .arrow {
  margin-right: .5rem;
  font-size: 1.2rem;
  color: #535353;
}

.permissions .group .groupTitle .arrow.open {
  transform: rotate(90deg);
}

.permissions .group .items {
  margin-left: 1.7rem;
}

.permissions .group .items .item {
  display: flex;
  align-items: center;
}

.permissions .group .items .item .itemName {
  flex-grow: 1;
  font-size: .9rem;
  padding: .6rem;
}

.permissions .group .items .item .itemStatus {
  font-size: 1.2rem;
  cursor: pointer;
  color: #B60010;
}

.permissions .group .items .item .itemStatus.success {
  color: #1EBE5A;
}
