.Custom-Checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  box-sizing: border-box;
  border: 1px solid #555;
  border-radius: 3px;
  color: #555;
  border-color: #000;
}
