.container {
  width: 100%;
}

.container label {
  display: block;
  margin-bottom: .4rem;
  font-size: .75rem;
  font-weight: bold;
  color: #333;
}

.pickerWrapper {
  width: 100%;
}

:global(.react-datepicker__triangle) {
  right: 10px !important;
}

.controlWrapper {
  width: 100%;
  position: relative;
}

.controlIcon {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 19px;
  transform: translate(50%, -50%);
  color: #333;
}

.container:not(.disabled) .controlIcon {
  cursor: pointer;
}

.control {
  width: 100%;
  padding: 7.5px 35px 7.5px 15px;
  box-sizing: border-box;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  outline: none;
  font-size: .75rem;
  color: #333;
}

.container:not(.disabled) .control:hover {
  border-color: #A0A0A0;
}

.container.open .control,
.container:not(.disabled) .control:focus {
  border-color: #A0A0A0;
}

.control::placeholder {
  color: #B9B9B9;
}
.control::-ms-input-placeholder {
  color: #B9B9B9;
}

.error {
  margin-top: .3rem;
  color: #B60010;
  font-size: .75rem;
}
