.Side_Menu {
  height: 100vh;
  padding: 0 28px 2rem 18px;
  width: 500px;
  box-sizing: border-box;
  overflow: hidden;

  & > div:nth-child(1) {
    position: relative;
    margin-bottom: 25px;
  }

  & > div:nth-child(2) {
    position: relative;
    height: 100%;
  }
}
