.Overview {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
  justify-content: end;
  gap: 10px;
  height: 13px;
  padding: 0 10px;
  margin-bottom: 24px;
  margin-left: 300px;

  & div {
    display: grid;
    grid-template-columns: 0fr 1fr;
    align-items: center;
    font-size: 0.8125rem;
    column-gap: 4px;
  }
}
