.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
  border: 1px solid #0c7997;
  border-radius: 4px;
  background-color: #0c7997;
  box-sizing: border-box;
  color: #fff;
  font-size: 0.875rem;
  outline: none;
  user-select: none;
}

.container.disabled {
  cursor: default !important;
}

.container.link {
  text-decoration: none;
}

.container.transparent {
  border-color: transparent;
  background-color: transparent !important;
  color: #333;
}

.container.action {
  background-color: #f37646;
  border-color: #f37646;
  color: #fff;
}

.container.action.transparent {
  border-color: #f37646;
  color: #f37646;
}

.container:not(.disabled):not(.transparent):hover {
  opacity: 0.85;
}

.container:not(.disabled):not(.action).transparent:hover {
  color: #000;
}

.loader {
  height: 25px !important;
  margin-left: 10px !important;
}

.loader > div > div {
  background-color: #fff !important;
}

.container.transparent .loader > div > div {
  background-color: #333 !important;
}
