.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container *:not(input) {
  user-select: none;
}

.fields {
  width: 100%;
  margin-bottom: 32px;
}

.control:not(.nopad) {
  margin-bottom: 16px;
}

.control input {
  line-height: 16px !important;
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
