.container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.object {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 345px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 1px 62px 0 rgba(0,0,0,0.09);
  background-color: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0 20px 0;
  background-color: #FBFBFD;
  user-select: none;
}

.header .title {
  font-size: 1rem;
  line-height: 1rem;
}

.header .logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  min-height: 80px;
  max-height: 80px;
  margin-bottom: 15px;
}

.header .logoContainer .logo {
  width: auto;
  height: 80px;
}

.form {
  padding: 33px;
  color: #333330;
}

.errors {
  margin-bottom: 32px;
  text-align: center;
}

.errors span {
  color: #B60010;
  font-size: .8rem;
  line-height: .95rem;
}

.errors span:not(:first-child) {
  margin-top: 8px;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.success svg {
  margin-bottom: 18px;
  color: #333330;
  font-size: 3rem;
}

.success span {
  color: #333330;
  font-size: .8rem;
  line-height: .95rem;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buttons > * {
  width: 100%;
}

.buttons > *:not(:first-child) {
  margin-top: 16px;
}
