.Accounts {
  background: #ffffff;
  height: 100%;
  display: grid;
  grid-template-rows: 65px 100%;

  & > div {
    border-right: 1px solid #f0f0f0;
  }

  & > div:first-child {
    box-sizing: border-box;
    width: 325px;
    padding: 1rem 2rem 0;
  }
}
